.card-title{
    font: bold;
    color: gold;
}

.card{
    height: 600px;
    border-radius: 5px;
}



/* .zoom {

   
    transition: transform .2s; /* Animation 
  
  }

.zoom:hover{
    transform: scale(1.1);
} */

.modal-title{
    color: gold;
}

.modalbody{
    color: black;
}