{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel='stylesheet' href="{% static 'About.css' %}">
</head>
<body>

	
	<div id="maindiv">
	<div id="topPanel">
			
			<div id="buttons">
				<ul>

					<li><a href="base">Home</a></li>
					<li><a href="About">About</a></li>
			        <li><a href="Contact">Contact</a></li> 

				</ul>
			</div> 
		</div>
</div> 




		<div id="center">
			

				<b>	<h1 style=" color:  blue;
					padding: 13px 0; text-align: center;">  </h1> </b>
<br>

<div>

	<br>
	
	<img id="container" src="{% static 'Images/About Picture.jpg' %}" align="right">
	<style> 
img{

 height: 450px;
 width: 550px;
 }
</style>
</div>

<ul> 
		 <div id="text">
		<h1 style="color:  #23395d;
					padding: 5px 0; text-align: justify;"> ABOUT </h1> <br>
				<style>
					p{
						line-height: 1.8;
					}
					p{
						font-size: 20px;
					}
				</style>
				
	<span>	<p> 	We want to introduce you to Bangladesh's first digital prescription with NFC card identification. NFC card will ease the hassle of carrying prescriptions whenever patients visit the doctor. There will be every prior and present history of the patient. Hospitals will track better patient information and doctors' notes in real time. No more nuisance of carrying a prescription anymore! Just order your NFC card and enjoy our service lifetime! </p>   </span>
	
 </ul>
         
</div>



<br> <br> <br> <br>
			



</body>
</html>