{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

     <link rel="stylesheet" href="{% static 'doctor_login.css' %}">

   </head>


<body>

    {% include 'header.html' %}

  <main>

    <div class="container1">
      <div class="title">Doctor's Page</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
              <span class="details">Educational Background </span>
              <input type="text" placeholder="Ex: MBBS in Dhaka Medical" required>
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" placeholder="Enter your number" required>
            </div>
            <div class="input-box">
              <span class="details">Timings</span>
              <input type="text" placeholder="Ex: Sunday 2:00 PM-5:00 PM" required>
            </div>
            <div class="input-box">
              <span class="details">Vising Fees</span>
              <input type="number" placeholder="Ex: 1500 " required>
            </div>
            <div class="input-box">
              <span class="details">Appointment Details</span>
              <input type="text" placeholder="Enter your appointment details" required>
            </div>
          </div>
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Done">
          </div>
        </form>
      </div>
    </div>

  </main> 

  
  

</body>
</html>